* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4faf4;

  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #333;
}

.text-data .name {
  font-size: 22px;
  font-weight: 500;
}

.text-data .job {
  font-size: 14px;
  font-weight: 400;
}

.media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.media-buttons .link a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
}

#facebook a {
  background-color: #4267b2;
}

#twitter a {
  background-color: #1da1f2;
}

#instagram a {
  background-color: #e1306c;
}

#youtube a {
  background-color: #ff0000;
}

.contact-buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contact-buttons button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  margin: 0 10px;
  padding: 8px 18px;
  background-color: #4070f4;
  cursor: pointer;
  border-radius: 24px;
  transition: all 0.3s ease;
}

.contact-buttons button:hover {
  background-color: #0e4bf1;
}

.analytics {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 14px;
  border-right: 2px solid #e7e7e7;
}

.data i {
  font-size: 18px;
  margin-right: 6px;
}

.data:last-child {
  border-right: none;
}